# Cleaning Data in Python

It's commonly said that data scientists spend 80% of their time cleaning and manipulating data and only 20% of their time analyzing it. The time spent cleaning is vital since analyzing dirty data can lead you to draw inaccurate conclusions.

Data cleaning is an essential task in data science. Without properly cleaned data, the results of any data analysis or machine learning model could be inaccurate. In this course, you will learn how to identify, diagnose, and treat a variety of data cleaning problems in Python, ranging from simple to advanced. You will deal with improper data types, check that your data is in the correct range, handle missing data, perform record linkage, and more!

## Common data problems

In this chapter, you'll learn how to overcome some of the most common dirty data problems. You'll convert data types, apply range constraints to remove future data points, and remove duplicated data points to avoid double-counting.

### Data type constraints

Course outline:

* diagnose dirty data
* side effects of dirty data
* cleaning data

#### Why do we need to clean data?

DS workflow:

access data --> explore and process data --> extract insights --> report insights

Dirty data is caused by both human and technical errors and will taint every step of the DS workflow the data is used in.

GIGO

### Numeric data or ... ?

In this exercise, and throughout this chapter, you'll be working with bicycle ride sharing data in San Francisco called `ride_sharing`. It contains information on the start and end stations, the trip duration, and some user information for a bike sharing service.

The `user_type` column contains information on whether a user is taking a free ride and takes on the following values:

`1` for free riders.
`2` for pay per ride.
`3` for monthly subscribers.

In this instance, you will print the information of `ride_sharing` using `.info()` and see a firsthand example of how an incorrect data type can flaw your analysis of the dataset. The pandas package is imported as `pd`.

In [61]:
"""set up"""
import pandas as pd
from pathlib import Path

ride_sharing_csv = Path.cwd() / "data/ride_sharing_new.csv"

ride_sharing = pd.read_csv(ride_sharing_csv)

##### Instructions 1/3

* Print the information of `ride_sharing`.
* Use `.describe()` to print the summary statistics of the `user_type` column from `ride_sharing`.

In [62]:
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing["user_type"].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None
count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

##### Instructions 2/3

By looking at the summary statistics - they don't really seem to offer much description on how users are distributed along their purchase type, why do you think that is?

**Possible answers**

1. The `user_type` column is not of the correct type, it should be converted to `str`.
2. The `user_type` column has an infinite set of possible values, it should be converted to `category`.
3. The `user_type` column has an finite set of possible values that represent groupings of data, it should be converted to `category`.

**Answer: 3**

##### Instructions 3/3

* Convert `user_type` into categorical by assigning it the `'category'` data type and store it in the `user_type_cat` column.
* Make sure you converted `user_type_cat` correctly by using an `assert` statement.

In [63]:
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing["user_type"].describe())

# Convert user_type from integer to category
ride_sharing["user_type_cat"] = ride_sharing["user_type"].astype("category")

# Write an assert statement confirming the change
assert ride_sharing["user_type_cat"].dtype == "category"

# Print new summary statistics
print(ride_sharing["user_type_cat"].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None
count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64
count     25760
unique        3
top           2
freq      12972
Name: user_type_cat, dtype: int64

### Summing strings and concatenating numbers

In the previous exercise, you were able to identify that `category` is the correct data type for `user_type` and convert it in order to extract relevant statistical summaries that shed light on the distribution of `user_type`.

Another common data type problem is importing what should be numerical values as strings, as mathematical operations such as summing and multiplication lead to string concatenation, not numerical outputs.

In this exercise, you'll be converting the string column `duration` to the type `int`. Before that however, you will need to make sure to strip `"minutes"` from the column in order to make sure pandas reads it as numerical. The pandas package has been imported as `pd`.

In [64]:
# Strip duration of minutes
ride_sharing["duration_trim"] = ride_sharing["duration"].str.strip("minutes")

# Convert duration to integer
ride_sharing["duration_time"] = ride_sharing["duration_trim"].astype("int")

# Write an assert statement making sure of conversion
assert ride_sharing["duration_time"].dtype == "int"

# Print formed columns and calculate average ride duration
print(ride_sharing[["duration", "duration_trim", "duration_time"]])
print(ride_sharing["duration_time"].mean())

         duration duration_trim  duration_time
0      12 minutes           12              12
1      24 minutes           24              24
2       8 minutes            8               8
3       4 minutes            4               4
4      11 minutes           11              11
...           ...           ...            ...
25755  11 minutes           11              11
25756  10 minutes           10              10
25757  14 minutes           14              14
25758  14 minutes           14              14
25759  29 minutes           29              29

[25760 rows x 3 columns]
11.389052795031056

### Data range constraints

Examples of constraints being violated include a movie having a rating of 6 on a scale of 1-5 or subscription dates that are in the future.

```python
import datetime as dt
user_signups[user_signups['subscription_date] > dt.date.today()]
```

#### How to deal with out of range data?

* drop it (caution!)
* setting custom minimums and maximums
* treat as missing and impute
* setting custom value depending on business assumptions

#### Movies example

```python
import pandas as pd
# output movies with rating > 5
movies[movies['avg_rating'] > 5]

# drop values using filtering
movies = movies[movies['avg_rating'] <= 5]
# drop values using .drop()
movies.drop(movies[movies['avg_rating'] > 5].index, inplace = True)
# assert results
assert movies['avg_rating'].max() <= 5
```

```python
# convert avg_rating > 5 to 5
movies.loc[movies['avg_rating'] > 5, 'avg_rating'] = 5
# assert results
assert movies['avg_rating'].max() <= 5
```

#### Date range example

```python
import datetime as dt
import pandas as pd

# output data types
user_signups.dtypes  # subscription_date is 'object'
# convert to date
user_signups['subscription_date'] = pd.to_datetime(user_signups['subscription_date']).dt.date

today_date = dt.date.today()

## drop the data
# drop values using filtering
user_signups = user_signups[user_signups['subscription_date'] < today_date]
# drop values using .drop()
user_signups.drop(user_signups[user_signups['subsctiption_date'] > today_date].index, inplace = True)

## Hardcode dates with upper limit
user_signups.loc[user_signups['subscription_date'] > today_date, 'subscription_date'] = today_date
assert user_signups.subscription_date.max().date() <= today_date
```

In [65]:
import numpy as np

# The ride_sharing DataFrame provided does not have the tire_sizes column so we
# must first create it.

sizes = [26, 27, 29]
ride_sharing["tire_sizes"] = np.random.choice(sizes, len(ride_sharing))
ride_sharing["tire_sizes"] = ride_sharing["tire_sizes"].astype("category")

# Convert tire_sizes to integer
ride_sharing["tire_sizes"] = ride_sharing["tire_sizes"].astype("int")

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing.tire_sizes > 27, "tire_sizes"] = 27

# Reconvert tire_sizes back to categorical
ride_sharing["tire_sizes"] = ride_sharing["tire_sizes"].astype("category")

# Print tire size description
print(ride_sharing["tire_sizes"].describe())

count     25760
unique        2
top          27
freq      17241
Name: tire_sizes, dtype: int64

### Tire size constraints

In this lesson, you're going to build on top of the work you've been doing with the `ride_sharing` DataFrame. You'll be working with the `tire_sizes` column which contains data on each bike's tire size.

Bicycle tire sizes could be either 26″, 27″ or 29″ and are here correctly stored as a categorical value. In an effort to cut maintenance costs, the ride sharing provider decided to set the maximum tire size to be 27″.

In this exercise, you will make sure the `tire_sizes` column has the correct range by first converting it to an integer, then setting and testing the new upper limit of 27″ for tire sizes.

##### Instructions

* Convert the `tire_sizes` column from `category` to '`int`'.
* Use `.loc[]` to set all values of `tire_sizes` above 27 to 27.
* Reconvert back `tire_sizes` to `'category'` from `int`.
* Print the description of the `tire_sizes`.

In [ ]:
# Convert tire_sizes to integer
ride_sharing["tire_sizes"] = ride_sharing["tire_sizes"].astype("int")

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing.tire_sizes > 27, "tire_sizes"] = 27

# Reconvert tire_sizes back to categorical
ride_sharing["tire_sizes"] = ride_sharing["tire_sizes"].astype("category")

# Print tire size description
print(ride_sharing["tire_sizes"].describe())

### Back to the future

A new update to the data pipeline feeding into the `ride_sharing` DataFrame has been updated to register each ride's date. This information is stored in the `ride_date` column of the type `object`, which represents strings in `pandas`.

A bug was discovered which was relaying rides taken today as taken next year. To fix this, you will find all instances of the `ride_date` column that occur anytime in the future, and set the maximum possible value of this column to today's date. Before doing so, you would need to convert `ride_date` to a `datetime` object.

The `datetime` package has been imported as `dt`, alongside all the packages you've been using till now.

##### Instructions


* Convert `ride_date` to a `datetime` object using `to_datetime()`, then convert the `datetime` object into a `date` and store it in `ride_dt` column.
* Create the variable `today`, which stores today's date by using the `dt.date.today()` function.
* For all instances of `ride_dt` in the future, set them to today's date.
* Print the maximum date in the `ride_dt` column.

In [66]:
import datetime as dt

# The ride_sharing DataFrame provided does not have the ride_date column so we
# must first create it.


def random_dates(start: pd.Timestamp, end: pd.Timestamp, n=1):
    """Retrun n random dates between start and end.."""
    # start_date = start.value // (10**9)
    # end_date = end.value // (10**9)
    start_date = start.value // (24 * 60 * 60 * 10**9)
    end_date = end.value // (24 * 60 * 60 * 10**9)
    return pd.to_datetime(np.random.randint(start_date, end_date, n), unit="D")


start_date = pd.to_datetime("2017-01-01")
end_date = pd.to_datetime("2025-12-31")
dates = random_dates(start_date, end_date, len(ride_sharing))
ride_sharing["ride_date"] = dates

# Convert ride_date to date
ride_sharing["ride_dt"] = pd.to_datetime(ride_sharing["ride_date"]).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing["ride_dt"] > today, "ride_dt"] = today

# Print maximum of ride_dt column
print(ride_sharing["ride_dt"].max())

### Uniqueness constraints

#### How to find duplicate values?

Use the `.duplicated()` method. Returns a Series of bools.

``` python
duplicates = height_weight.duplicated()
print(duplicates)
```

``` text
1       False
...     ...
22      True
23      False
...     ...
```

See which rows are duplicated. 

Problem is that all duplicated values are marked *except* the first one which makes it hard to know exactly what type of duplication we have (the results below show the second and subsequent occurrence of whatever duplicate value was found).

``` python
duplicates = height_weight.duplicated()
height_weight[duplicates]
```

``` text
    first_name last_name                            address height weight
100       Mary     Colon                        4674 Ut Rd.    179     75
101       Ivor    Pierce                  102-3364 Non Road    168     88
102       Cole    Palmer                    8366 At, Street    178     91
103    Desirae   Shannon PO Box 643, 5251 Consectetuer, Rd.    196     83
```

To fix this, use these two arguments to `duplicated()`:

* `subset`: List of column names to check for duplication
* `keep`: Whether to keep **first** (`first`), **last** (`last`), or **all** (`False`) duplicate values.

Here we are checking for duplicates across the first name, last name, and address variables and we're choosing to keep all the duplicates.

``` python
column_names = ['first_name', 'last_name', 'address']
duplicates = height_weight.duplicated(subset = column_names, keep = False)
```

``` text
    first_name last_name                            address height weight
1         Ivor    Pierce                  102-3364 Non Road    168     66
22        Cole    Palmer                    8366 At, Street    178     91
28     Desirae   Shannon PO Box 643, 5251 Consectetuer, Rd.    195     83
37        Mary     Colon                        4674 Ut Rd.    179     75
100       Mary     Colon                        4674 Ut Rd.    179     75
101       Ivor    Pierce                  102-3364 Non Road    168     88
102       Cole    Palmer                    8366 At, Street    178     91
103    Desirae   Shannon PO Box 643, 5251 Consectetuer, Rd.    196     83
```

``` python
height_weight[duplicates].sort_values(by = 'first_name')
```

``` text
    first_name last_name                            address height weight
22        Cole    Palmer                    8366 At, Street    178     91
102       Cole    Palmer                    8366 At, Street    178     91
28     Desirae   Shannon PO Box 643, 5251 Consectetuer, Rd.    195     83
103    Desirae   Shannon PO Box 643, 5251 Consectetuer, Rd.    196     83
1         Ivor    Pierce                  102-3364 Non Road    168     66
101       Ivor    Pierce                  102-3364 Non Road    168     88
37        Mary     Colon                        4674 Ut Rd.    179     75
100       Mary     Colon                        4674 Ut Rd.    179     75
```

We find that there are four sets of duplicated rows, the first 2 (Cole Palmer) and last 2 (Mary Colon) being complete duplicates of each other across all columns.

The other 2 (Desirae Shannon and Ivor Pierce) being incomplete duplicates of each other with discrepancies across height and weight respectively. 

#### How to treat duplicate values?

Complete duplicates are easy. Use the `.drop_duplicates()` method to which also takes in the same `subset` and `keep` arguments as in the `duplicated()` method, as well as the `inplace` argument which drops the duplicated values directly inside the height_weight DataFrame. 

* `subset`: List of column names to check for duplication
* `keep`: Whether to keep **first** (`first`), **last** (`last`), or **all** (`False`) duplicate values.
* `inplace`: Drop duplicated rows directly inside DataFrame without crating new object.

``` python
# drop complete duplicates only
height_weight.drop_duplicates(inplace = True)
```

Since the `keep` argument takes in `first` as default, we can keep it as such. Note that we can also set it as `last`, but not as `False` as it would keep all duplicates. 

This leaves the other 2 sets of duplicates which have the same `first_name`, `last_name`, and `address` but contain discrepancies in `height` and `weight`. Apart from dropping rows with really small discrepancies, we can use a statistical measure to combine each set of duplicated values. 

For example, we can combine these two rows into one by computing the average mean between them, or the maximum, or other statistical measures, this is highly dependent on a common sense understanding of our data, and what type of data we have. 

``` python
column_names = ['first_name', 'last_name', 'address']
duplicates = height_weight.duplicated(subset = column_names, keep = False)
height_weight[duplicates].sort_values(by = 'first_name')
```

``` text
    first_name last_name                            address height weight
28     Desirae   Shannon PO Box 643, 5251 Consectetuer, Rd.    195     83
103    Desirae   Shannon PO Box 643, 5251 Consectetuer, Rd.    196     83
1         Ivor    Pierce                  102-3364 Non Road    168     66
101       Ivor    Pierce                  102-3364 Non Road    168     88
```

Do this using the `.groupby()` and `.agg()` methods which let you group by a set of common columns and return statistical values for specific columns when the aggregation is being performed. 

For example here, we created a dictionary called summaries, which instructs `groupby` to return the maximum of duplicated rows for the height column, and the mean duplicated rows for the weight column. We then group `height_weight` by the column names defined earlier, and chained it with the `agg` method, which takes in the summaries dictionary we created. We chain this entire line with the `.reset_index()` method, so that we can have numbered indices in the final output. We can verify that there are no more duplicate values by running the duplicated method again, and use brackets to output duplicate rows. 

``` python
# group by column names and produce statistical summaries
column_names = ['first_name', 'last_name', 'address']
summaries = {'height': 'max', 'weight': 'mean'}
height_weight = height_weight.groupby(by = column_names).agg(summaries).reset_index()
# verify no more duplicates
duplicates = height_weight.duplicated(subset = colum_names, keep = False)
height_weight[duplicates].sort_values(by = 'first_name')
```

### Finding duplicates

A new update to the data pipeline feeding into `ride_sharing` has added the `ride_id` column, which represents a unique identifier for each ride.

The update however coincided with radically shorter average ride duration times and irregular user birth dates set in the future. Most importantly, the number of rides taken has increased by 20% overnight, leading you to think there might be both complete and incomplete duplicates in the `ride_sharing` DataFrame.

In this exercise, you will confirm this suspicion by finding those duplicates. A sample of `ride_sharing` is in your environment, as well as all the packages you've been working with thus far.

##### Instructions

* Find duplicated rows of `ride_id` in the `ride_sharing` DataFrame while setting keep to False.
* Subset `ride_sharing` on `duplicates` and sort by `ride_id` and assign the results to `duplicated_rides`.
* Print the `ride_id`, `duration` and `user_birth_year` columns of `duplicated_rides` in that order.

In [ ]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset="ride_id", keep=False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values(by="ride_id")

# Print relevant columns
print(duplicated_rides[["ride_id", "duration", "user_birth_year"]])

### Treating duplicates

In the last exercise, you were able to verify that the new update feeding into `ride_sharing` contains a bug generating both complete and incomplete duplicated rows for some values of the `ride_id` column, with occasional discrepant values for the `user_birth_year` and `duration` columns.

In this exercise, you will be treating those duplicated rows by first dropping complete duplicates, and then merging the incomplete duplicate rows into one while keeping the average `duration`, and the minimum `user_birth_year` for each set of incomplete duplicate rows.

##### Instructions

* Drop complete duplicates in `ride_sharing` and store the results in `ride_dup`.
* Create the statistics dictionary which holds **min**imum aggregation for `user_birth_year` and **mean** aggregation for `duration`.
* Drop incomplete duplicates by grouping by `ride_id` and applying the aggregation in `statistics`.
* Find duplicates again and run the `assert` statement to verify de-duplication.

In [ ]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {"user_birth_year": "min", "duration": "mean"}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby("ride_id").agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset="ride_id", keep=False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

## Text and categorical data problems

Categorical and text data can often be some of the messiest parts of a dataset due to their unstructured nature. In this chapter, you’ll learn how to fix whitespace and capitalization inconsistencies in category labels, collapse multiple categories into one, and reformat strings for consistency.

### Membership constraints

Categorical variables represent predefined, finite sets of categories.

| Type if data | Example values | Numeric (categorical) representation |
|--------------|----------------|--------------------------------------|
| Marriage Status | `unmarried`, `married` | `0`, `1` |
| Household Income Category | `0-20K`, `20-40K`, ... | `0`, `1`, --- |
| Loan Status | `default`, `payed`, `no_loan` | `0`, `1`, `2` |

Machine learning models often require categorical data to be encoded as numbers.

Since categorical data represent a predefined set of categories they can't have values that fall outside of the predefined categories.

There are many reasons why there may be errors in our categorical data:

* data entry errors
* parsing errors

There are a variety of ways these errors can be treated:

* dropping data
* remapping categories
* inferring categories
* ...

Here's a DataFrame named `study_data` containing a list of first names, birth dates, and blood types. Additionally, a DataFrame named `categories`, containing the correct possible categories for the blood type column has been created as well. 

``` python
# read study data and print it
study_data = pd.read_csv('study.csv')
study_data
```

``` text
      name   birthday blood_type
1     Beth 2019-10-20         B-
2 Ignatius 2020-07-08         A-
3     Paul 2019-08-12         O+
4    Helen 2019-03-17         O-
5 Jennifer 2019-12-17         Z+   <---
6  Kennedy 2020-04-27         A+
7    Keith 2019-04-19        AB+
```

``` python
# correct possible blood types
categories
```

``` text
  blood_type
1         O-
2         O+
3         A-
4         A+
5         B+
6         B-
7        AB+
8        AB-
```

Notice the Z+ blood type. The `categories` DataFrame will help systematically spot rows with these inconsistencies. 

It's good practice to keep a log of all possible values of your categorical data.

#### A note on joins

The two main types of joins we care about here are **anti joins** and **inner joins**.

Anti joins take in two DataFrames A and B, and return data from one DataFrame that is not contained in another. In this example, we are performing a left anti join of A and B, and are returning the columns of DataFrames A and B for values only found in A of the common column between them being joined on.

Inner joins, return only the data that is contained in both DataFrames. For example, an inner join of A and B, would return columns from both DataFrames for values only found in A and B, of the common column between them being joined on. 

![anti joins and inner joins](images/joins_small.png)

#### Left anti join on blood types

In our example, an left anti join essentially returns all the data in study data with inconsistent blood types,

![anti join](images/anti_join.png)

and an inner join returns all the rows containing consistent blood types signs. 

![inner join](images/inner_join.png)

#### Finding inconsistent categories

``` python
inconsistent_categories = set(study_data['blood_type']).difference(categories['blood_type'])
print(inconsistent_categories)
```

``` text
{'Z+}
```

``` python
# get inconsistent rows
inconsistent_rows = study_data['blood_type'].isin(inconsistent_categories)
study_data[inconsistent_rows]
```

``` text
      name   birthday blood_type
5 Jennifer 2019-12-17         Z+
```

#### Dropping inconsistent categories

Use the tilde symbol (`~`) while subsetting which returns everything except inconsistent rows

``` python
inconsistent_categories = set(study_data['blood_type']).difference(categories['blood_type'])
inconsistent_rows = study_data['blood_type'].isin(inconsistent_categories)
inconsistent_data = study_data[inconsistent_rows]
# drop inconsistent categories and get consistent data only
consistent_data = study_data[~inconsistent_rows]
```

``` text
      name   birthday blood_type
1     Beth 2019-10-20         B-
2 Ignatius 2020-07-08         A-
3     Paul 2019-08-12         O+
4    Helen 2019-03-17         O-
6  Kennedy 2020-04-27         A+
7    Keith 2019-04-19        AB+
```

### Finding consistency

In this exercise and throughout this chapter, you'll be working with the `airlines` DataFrame which contains survey responses on the San Francisco Airport from airline customers.

The DataFrame contains flight metadata such as the airline, the destination, waiting times as well as answers to key questions regarding cleanliness, safety, and satisfaction. Another DataFrame named `categories` was created, containing all correct possible values for the survey columns.

In this exercise, you will use both of these DataFrames to find survey answers with inconsistent values, and drop them, effectively performing an outer and inner join on both these DataFrames as seen in the video exercise. The pandas package has been imported as pd, and the `airlines` and `categories` DataFrames are in your environment.

##### Instructions 1/4

* Print the `categories` DataFrame and take a close look at all possible correct categories of the survey columns.
* Print the unique values of the survey columns in `airlines` using the `.unique()` method.

In [79]:
# setup
import pandas as pd
from pathlib import Path

airlines_csv = Path.cwd() / "data/airlines.csv"
categories_csv = Path.cwd() / "data/airlines_categories.csv"

airlines = pd.read_csv(airlines_csv)
categories = pd.read_csv(categories_csv)

In [80]:
# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print("Cleanliness: ", airlines["cleanliness"].unique(), "\n")
print("Safety: ", airlines["safety"].unique(), "\n")
print("Satisfaction: ", airlines["satisfaction"].unique(), "\n")

   Unnamed: 0     cleanliness           safety          satisfaction
0           0           Clean          Neutral        Very satisfied
1           1         Average        Very safe               Neutral
2           2  Somewhat clean    Somewhat safe    Somewhat satisfied
3           3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           4           Dirty  Somewhat unsafe      Very unsatisfied
Cleanliness:  ['Clean' 'Average' 'Unacceptable' 'Somewhat clean' 'Somewhat dirty'
 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

##### Instructions 2/4

**Question**

Take a look at the output. Out of the `cleanliness`, `safety` and `satisfaction` columns **in the `airlines` DataFrame**, which one has an inconsistent category and what is it?

**Possible answers**

* `cleanliness` because it has an `Unacceptable` category.
* `cleanliness` because it has a `Terribly dirty` category.
* `satisfaction` because it has a `Very satisfied` category.
* `safety` because it has a `Neutral` category.

**Correct answer**

`cleanliness` because it has an `Unacceptable` category.

##### Instructions 3/4

* Create a set out of the `cleanliness` column in `airlines` using `set()` and find the inconsistent category by finding the **difference** in the `cleanliness` column of `categories`.
* Find rows of `airlines` with a `cleanliness` value not in `categories` and print the output.

In [81]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines["cleanliness"]).difference(categories["cleanliness"])

# Find rows with that category
cat_clean_rows = airlines["cleanliness"].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

    Unnamed: 0    id        day           airline  destination  dest_region  \
4            4  2992  Wednesday          AMERICAN        MIAMI      East US
17          18  2913     Friday  TURKISH AIRLINES     ISTANBUL  Middle East
89         100  2321  Wednesday         SOUTHWEST  LOS ANGELES      West US

   dest_size boarding_area   dept_time  wait_min   cleanliness         safety  \
4        Hub   Gates 50-59  2018-12-31     559.0  Unacceptable      Very safe
17       Hub  Gates 91-102  2018-12-31     225.0  Unacceptable      Very safe
89       Hub   Gates 20-39  2018-12-31     130.0  Unacceptable  Somewhat safe

          satisfaction
4   Somewhat satsified
17  Somewhat satsified
89  Somewhat satsified

##### Instructions 4/4

* Print the rows with the consistent categories of `cleanliness` only.

In [82]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines["cleanliness"]).difference(categories["cleanliness"])

# Find rows with that category
cat_clean_rows = airlines["cleanliness"].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

    Unnamed: 0    id        day           airline  destination  dest_region  \
4            4  2992  Wednesday          AMERICAN        MIAMI      East US
17          18  2913     Friday  TURKISH AIRLINES     ISTANBUL  Middle East
89         100  2321  Wednesday         SOUTHWEST  LOS ANGELES      West US

   dest_size boarding_area   dept_time  wait_min   cleanliness         safety  \
4        Hub   Gates 50-59  2018-12-31     559.0  Unacceptable      Very safe
17       Hub  Gates 91-102  2018-12-31     225.0  Unacceptable      Very safe
89       Hub   Gates 20-39  2018-12-31     130.0  Unacceptable  Somewhat safe

          satisfaction
4   Somewhat satsified
17  Somewhat satsified
89  Somewhat satsified
      Unnamed: 0    id       day        airline        destination  \
0              0  1351   Tuesday    UNITED INTL             KANSAI
1              1   373    Friday         ALASKA  SAN JOSE DEL CABO
2              2  2820  Thursday          DELTA        LOS ANGELES
3              3  1157   Tuesday      SOUTHWEST        LOS ANGELES
5              5   634  Thursday         ALASKA             NEWARK
...          ...   ...       ...            ...                ...
2472        2804  1475   Tuesday         ALASKA       NEW YORK-JFK
2473        2805  2222  Thursday      SOUTHWEST            PHOENIX
2474        2806  2684    Friday         UNITED            ORLANDO
2475        2807  2549   Tuesday        JETBLUE         LONG BEACH
2476        2808  2162  Saturday  CHINA EASTERN            QINGDAO

        dest_region dest_size boarding_area   dept_time  wait_min  \
0              Asia       Hub  Gates 91-102  2018-12-31     115.0
1     Canada/Mexico     Small   Gates 50-59  2018-12-31     135.0
2           West US       Hub   Gates 40-48  2018-12-31      70.0
3           West US       Hub   Gates 20-39  2018-12-31     190.0
5           East US       Hub   Gates 50-59  2018-12-31     140.0
...             ...       ...           ...         ...       ...
2472        East US       Hub   Gates 50-59  2018-12-31     280.0
2473        West US       Hub   Gates 20-39  2018-12-31     165.0
2474        East US       Hub   Gates 70-90  2018-12-31      92.0
2475        West US     Small    Gates 1-12  2018-12-31      95.0
2476           Asia     Large    Gates 1-12  2018-12-31     220.0

         cleanliness         safety        satisfaction
0              Clean        Neutral      Very satisfied
1              Clean      Very safe      Very satisfied
2            Average  Somewhat safe             Neutral
3              Clean      Very safe  Somewhat satsified
5     Somewhat clean      Very safe      Very satisfied
...              ...            ...                 ...
2472  Somewhat clean        Neutral  Somewhat satsified
2473           Clean      Very safe      Very satisfied
2474           Clean      Very safe      Very satisfied
2475           Clean  Somewhat safe      Very satisfied
2476           Clean      Very safe  Somewhat satsified

[2474 rows x 13 columns]

### Categorical variables

In the last lesson we saw how categorical data has a value membership constraint, where columns need to have a predefined set of values.

However, this is not the only set of problems we may encounter.

When cleaning categorical data, some of the problems we may encounter include value inconsistency, the presence of too many categories that could be collapsed into one, and making sure data is of the right type. 

#### What type of errors could we have?

1. Value inconsistency
    * Inconsistent fields: `married`, `Maried`, `UNMARRIED`, `not married`, ...
    * Trailing whitespace: `married `, ` married `, ...
2. Collapsing too many categories
    * Creating new groups: `0-20K`, `20-40K` categories from continuous household income data
    * Mapping groups to new ones: mapping household income categories to 2 - `rich`, `poor`
3. Making sure data is of type `category` (seen in Chapter 1)

#### Value consistency

A common problem is having categorical values that vary slightly in their capitalization.

For a DataFrame, we can `groupby` the column and use the `.count()` method. 

``` python
marriage_status.groupby('marriage_status').count()
```

``` text
	            household_income gender
marriage_status		
MARRIED                      204    204
UNMARRIED                    176    176
married                      268    268
unmarried                    352    352
```

To deal with this, normalize capitalization.

``` python
# capitalize
marriage_status['marriage_status'] = marriage_status['marriage_status'].str.upper()
marriage_status['marriage_status'].value_counts()
```

``` text
UNMARRIED   528
MARRIED     472
```

or

``` python
# lowercase
marriage_status['marriage_status'] = marriage_status['marriage_status'].str.lower()
marriage_status['marriage_status'].value_counts()
```

``` text
unmarried   528
married     472
```

Another common problem is leading or trailing whitespace.

``` python
demographics = demographics['marriage_status'].str.strip()
demographics['marriage_status'].value_counts()
```

#### Collapsing data into categories

Sometimes, we may want to create categories out of our data, such as creating household income groups from income data.

For example, creating an income group column in the `demographics` DataFrame. This can be done in 2 ways.

The first method utilizes the `qcut` function from pandas, which automatically divides our data based on its distribution into the number of categories we set in the `q` argument, we created the category names in the `group_names` list and fed it to the `labels` argument, returning the following.

Notice that the first row actually misrepresents the actual income of the income group, as we didn't instruct `qcut` where our ranges actually lie.

``` python
# Using qcut
import pandas as pd

group_names = ['0-200K;', '200K-5OOK', '500K+']
demographics['income_group'] = pd.qcut(demographics['householdincome'], q = 3, labels = group_names)

# Print income_group column
demographics[['income_group', 'household_income']]
```

``` text
     category household_income
0   20OK-500K           189243
1       500K+           778533
...
```

We can do this with the `cut` function instead, which lets us define category cutoff ranges with the `bins` argument. It takes in a list of cutoff points for each category, with the final one being infinity represented with `np.inf()`. From the output, we can see this is much more correct.

``` python
import pandas as pd
import numpy as np

# using cut() - create category ranges and names
ranges = [0, 200_000, 500_000, np.inf]
group_names = ['0-200K', '200K-500K', '500K+']

# create income group column
demographics['income_group'] = pd.cut(demographics['household_income'], bins = ranges, labels = group_names)
dempgraphics[['income_group', 'household_income']]
```

``` text
    category Income
0     0-200K 189243
1      500K+ 778533
```

#### Collapsing data into categories

Assume we have a column containing the operating system of different devices, and contains these unique values.

`operating_system` column is: `Microsoft`, `MacOS`, `IOS`, `Android`, `Linux`

Say we want to collapse these categories into 2, DesktopOS, and MobileOS.

`operating_system` column should become: `DesktopOS`, `MobileOS`

We can do this using the `replace` method. It takes in a dictionary that maps each existing category to the category name you desire. 

``` python
mapping = {
    'Microsoft': 'DesktopOS',
    'MacOS': 'DesktopOS',
    'Linux': 'DesktopOS',
    'IOS': 'MobileOS',
    'Android': 'MobileOS'
}

devices['operating_system'] = devices['operating_system'].replace(mapping)
devices['operating_system'].unique()
```

``` text
array(['DesktopOS', 'MobileOS'], dtype=object)
```

### Inconsistent categories

In this exercise, you'll be revisiting the `airlines` DataFrame from the previous lesson.

As a reminder, the DataFrame contains flight metadata such as the airline, the destination, waiting times as well as answers to key questions regarding cleanliness, safety, and satisfaction on the San Francisco Airport.

In this exercise, you will examine two categorical columns from this DataFrame, `dest_region` and `dest_size` respectively, assess how to address them and make sure that they are cleaned and ready for analysis. The pandas package has been imported as pd, and the `airlines` DataFrame is in your environment.

##### Instructions 1/4

* Print the unique values in `dest_region` and `dest_size` respectively.

In [83]:
# setup
import pandas as pd
from pathlib import Path

airlines_csv = Path.cwd() / "data/airlines.csv"
categories_csv = Path.cwd() / "data/airlines_categories.csv"

airlines = pd.read_csv(airlines_csv)
categories = pd.read_csv(categories_csv)

In [84]:
# Print unique values of both columns
print(airlines["dest_region"].unique())
print(airlines["dest_size"].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

##### Instructions 2/4

**Question**

From looking at the output, what do you think is the problem with these columns?

**Possible answers**

* The dest_region column has only inconsistent values due to capitalization.
* The dest_region column has inconsistent values due to capitalization and has one value that needs to be remapped.
* The dest_size column has only inconsistent values due to leading and trailing spaces.
* Both 2 and 3 are correct.

**Answer**
Both 2 and 3 are correct.

##### Instructions 3/4

* Change the capitalization of all values of `dest_region` to lowercase.
* Replace the `'eur'` with `'europe'` in `dest_region` using the `.replace()` method.

In [86]:
# Lower dest_region column and then replace "eur" with "europe"
airlines["dest_region"] = airlines["dest_region"].str.lower()
airlines["dest_region"] = airlines["dest_region"].replace({"eur": "europe"})

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']
['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

##### Instructions 4/4

* Strip white spaces from the `dest_size` column using the `.strip()` method.
* Verify that the changes have been into effect by printing the unique values of the columns using `.unique()`.

In [ ]:
# Lower dest_region column and then replace "eur" with "europe"
airlines["dest_region"] = airlines["dest_region"].str.lower()
airlines["dest_region"] = airlines["dest_region"].replace({"eur": "europe"})

# Remove white spaces from `dest_size`
airlines["dest_size"] = airlines["dest_size"].str.strip()

# Verify changes have been effected
print(airlines["dest_region"].unique())
print(airlines["dest_size"].unique())

### Remapping categories

To better understand survey respondents from `airlines`, you want to find out if there is a relationship between certain responses and the day of the week and wait time at the gate.

The `airlines` DataFrame contains the `day` and `wait_min` columns, which are categorical and numerical respectively. The `day` column contains the exact day a flight took place, and `wait_min` contains the amount of minutes it took travelers to wait at the gate. To make your analysis easier, you want to create two new categorical variables:

* `wait_type`: `'short'` for 0-60 min, `'medium'` for 60-180 and `long` for 180+
* `day_week`: `'weekday'` if `day` is in the weekday, `'weekend'` if day is in the weekend.

The `pandas` and `numpy` packages have been imported as pd and np. Let's create some new categorical data!

##### Instructions

* Create the ranges and labels for the `wait_type` column mentioned in the description.
* Create the `wait_type` column by from `wait_min` by using `pd.cut()`, while inputting `label_ranges` and `label_names` in the correct arguments.
* Create the `mapping` dictionary mapping weekdays to `'weekday'` and weekend days to `'weekend'`.
* Create the `day_week` column by using `.replace()`.

In [87]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ["short", "medium", "long"]

# Create wait_type column
airlines["wait_type"] = pd.cut(
    airlines["wait_min"], bins=label_ranges, labels=label_names
)

# Create mappings and replace
mappings = {
    "Monday": "weekday",
    "Tuesday": "weekday",
    "Wednesday": "weekday",
    "Thursday": "weekday",
    "Friday": "weekday",
    "Saturday": "weekend",
    "Sunday": "weekend",
}

airlines["day_week"] = airlines["day"].replace(mappings)

### Cleaning text data

Text data is *very* common.

``` python
phones = pd.read_csv('phones.csv')
print(phones)
```

```text
             Full name     Phone number
0      Noelani A. Gray 001-702-397-5143
1       Myles Z. Gomez 001-329-485-0540
2         Gil B. Silva 001-195-492-2338
3   Prescott D. Hardin  +1-297-996-4904   <-- inconsistent data format
4   Benedict G. Valdez 001-969-820-3536
5     Reece M. Andrews             4138   <-- length violation
6       Hayfa E. Keith 001-536-175-8444
7      Hedley I. Logan 001-681-552-1823
8     Jack W. Carrillo 001-910-323-5265
9      Lionel M. Davis 001-143-119-9210
```

* there are phone number values that begin with `00` or `+`
* there is one entry where the phone number is 4 digits, which is non-existent
* there are dashes across the phone number column

If we wanted to feed these phone numbers into an automated call system, or create a report discussing the distribution of users by area code, we couldn't really do so without uniform phone numbers. 

Ideally, we want the following:

```text
             Full name     Phone number
0      Noelani A. Gray    0017023975143
1       Myles Z. Gomez    0013294850540
2         Gil B. Silva    0011954922338
3   Prescott D. Hardin    0012979964904
4   Benedict G. Valdez    0019698203536
5     Reece M. Andrews              NaN
6       Hayfa E. Keith    0015361758444
7      Hedley I. Logan    0016815521823
8     Jack W. Carrillo    0019103235265
9      Lionel M. Davis    0011431199210
```

```python
# replace "+" with "00"
phones['Phone number'] = phones['Phone number'].str.replace('+', '00')

# replace "-" with nothing
phones['Phone number'] = phones['Phone number'].str.replace('-', '')

# replace phone numbers with less than 10 digits with NaN
digits = phones['Phone number'].str.len
phones.loc[digits < 10, "Phone number"] = np.nan

# sanity check
sanity_check = phones['Phone number'].str.len()
assert sanity_check.min() >= 10
assert phones['Phone number'].str.contains("+|-").any() == False
```

#### But what about more complicated examples?

```python
phones.head()
```

```text
           Full name    Phone number
0      Olga Robinson  +(01706)-25891
1        Justina Kim    +0500-571437
2     Tamekah Henson      +0800-1111
3      Miranda Solis   +07058-879063
4   Caldwell Gilliam  +(016977)-8424
```

RegEX!!!

```python
phones['Phone number'] = phones['Phone number'].str.replace(r\'D+', '')
phones.head()
```

```text
           Full name    Phone number
0      Olga Robinson      0170625891
1        Justina Kim      0500571437
2     Tamekah Henson       +08001111
3      Miranda Solis     07058879063
4   Caldwell Gilliam      0169778424
``````

### Removing titles and taking names

While collecting survey respondent metadata in the `airlines` DataFrame, the full name of respondents was saved in the `full_name` column. However upon closer inspection, you found that a lot of the different names are prefixed by honorifics such as `"Dr."`, `"Mr."`, `"Ms."` and `"Miss"`.

Your ultimate objective is to create two new columns named `first_name` and `last_name`, containing the first and last names of respondents respectively. Before doing so however, you need to remove honorifics.

The `airlines` DataFrame is in your environment, alongside pandas as `pd`.

##### Instructions

* Remove `"Dr."`, `"Mr."`, `"Miss"` and `"Ms."` from `full_name` by replacing them with an empty string `""` in that order.
* Run the `assert` statement using `.str.contains()` that tests whether `full_name` still contains any of the honorifics.

**Note:** our version of `airlines` did not have the `full_name` column, added with the help of [Mockaroo](https://www.mockaroo.com/27996250).

In [236]:
# setup
import pandas as pd
from pathlib import Path

airlines_csv = Path.cwd() / "data/airlines.csv"
categories_csv = Path.cwd() / "data/airlines_categories.csv"

airlines = pd.read_csv(airlines_csv)
categories = pd.read_csv(categories_csv)

In [237]:
# Replace "Dr." with empty string ""
airlines["full_name"] = airlines["full_name"].str.replace("Dr.", "").str.strip()

# Replace "Mr." with empty string ""
airlines["full_name"] = airlines["full_name"].str.replace("Mr.", "").str.strip()

# Replace "Miss" with empty string ""
airlines["full_name"] = airlines["full_name"].str.replace("Miss", "").str.strip()

# Replace "Ms." with empty string ""
airlines["full_name"] = airlines["full_name"].str.replace("Ms.", "").str.strip()

airlines.loc[airlines["full_name"].str.contains(r"Ms\.|Mr\.|Miss|Dr\."), "full_name"]

# Assert that full_name has no honorifics
assert not airlines["full_name"].str.contains(r"Ms\.|Mr\.|Miss|Dr\.").any()

### Keeping it descriptive

To further understand travelers' experiences in the San Francisco Airport, the quality assurance department sent out a qualitative questionnaire to all travelers who gave the airport the worst score on all possible categories. The objective behind this questionnaire is to identify common patterns in what travelers are saying about the airport.

Their response is stored in the `survey_response` column. Upon a closer look, you realized a few of the answers gave the shortest possible character amount without much substance. In this exercise, you will isolate the responses with a character count higher than **40**, and make sure your new DataFrame contains responses with **40** characters or more using an `assert` statement.

The `airlines` DataFrame is in your environment, and `pandas` is imported as `pd`.

##### Instructions

* Using the `airlines` DataFrame, store the length of each instance in the `survey_response` column in `resp_length` by using `.str.len()`.
* Isolate the rows of `airlines` with `resp_length` higher than `40`.
* Assert that the smallest `survey_response` length in `airlines_survey` is now bigger than `40`.

**Note:** had to generate `survey_response` using [Mockaroo](https://www.mockaroo.com/c0c8f670).

In [238]:
# Store length of each row in survey_response column
resp_length = airlines["survey_response"].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey["survey_response"].str.len().min() > 40

# Print new survey_response column
print(airlines_survey["survey_response"])

3       Pellentesque eget nunc. Donec quis orci eget o...
5       Nullam orci pede venenatis non sodales sed tin...
7       Morbi non lectus. Aliquam sit amet diam in mag...
9           Suspendisse potenti. In eleifend quam a odio.
10      Integer aliquet massa id lobortis convallis to...
                              ...
2470    Nulla facilisi. Cras non velit nec nisi vulput...
2471    In hac habitasse platea dictumst. Maecenas ut ...
2472     Quisque ut erat. Curabitur gravida nisi at nibh.
2473    Ut tellus. Nulla ut erat id mauris vulputate e...
2476    Proin leo odio porttitor id consequat in conse...
Name: survey_response, Length: 1509, dtype: object

## Advanced data problems

In this chapter, you’ll dive into more advanced data cleaning problems, such as ensuring that weights are all written in kilograms instead of pounds. You’ll also gain invaluable skills that will help you verify that values have been added correctly and that missing values don’t negatively impact your analyses.

### Uniformity